.pages {
  height: 100vh;
}
* {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 90;
  width: 100%;
}
svg path {
  transition: d 0.5;
}
#home {
  position: relative;
  overflow: hidden;
  place-content: center;
  place-items: center;
}
#videoWrapper {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100vh;
  border: 0;
}
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(85, 60, 154, 0.1);
}
.loadingAnimation {
  animation: color 1s;
}
@keyframes color {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(85, 60, 154, 0.1);
  }
}

#search {
  place-items: center;
}
#search div {
  display: flex;
  align-items: center;
  position: relative;
}
#search div > svg {
  position: absolute;
  left: 5px;
}

#search input {
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 100px;
  padding: 5px;
  padding-left: 30px;
}
#search input:focus {
  outline: none;
}
#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
#navBar div {
  width: 33%;
}
#navLinks a {
  margin-right: 10px;
  margin-left: 10px;
  color: gray;
  text-decoration: none;
}
#navLinks {
  text-align: center;
}
#hero {
  text-align: center;
  color: white;
  place-items: center;
}
#hero p {
  width: 50%;
  font-size: larger;
  -webkit-text-stroke: 0.2px grey;
}
#hero h1 {
  font-size: 27vh;
}
#location {
  display: flex;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 80%;
}
.call2Action {
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  font-weight: 400;
  font-size: medium;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
}
.active {
  position: relative;
  color: black !important;
}
.active::after {
  position: absolute;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 100px;
  bottom: -5px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.656);
}
.teamHeading p {
  font-size: small;
}
.teamHeading h1 {
  font-size: 40px;
}
#resultDisplay {
  width: 30%;
  height: 90vh;
  overflow: scroll;
  position: fixed;
  right: 2%;
  top: 10%;
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.resultDisplayAni {
  animation: expand 0.5s reverse;
  overflow: hidden;
}
#resultDisplay:focus {
  outline: none;
}
/* result animation */
@keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 90vh;
  }
}

.resultContainer {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  animation: pulse 0.5s;
}
.resultContainer img {
  border-radius: 16px 16px 0 0;
}
.details {
  padding: 20px;
}
.resultContainer .call2Action {
  padding: 10px 15px 10px 15px;
  font-size: 12px !important;
}
#des {
  color: rgba(255, 255, 255, 0.305);
}
@keyframes pulse {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
#not-found-alert {
  position: fixed;
  display: flex;
  color: white;
  background-color: rgb(255, 0, 0);
  align-items: center;
  column-gap: 10px;
  bottom: 0;
  padding: 5px;
  border-radius: 5px;
  transform: translateX(-100%);
}
.showAlert {
  animation: alert 2.5s ease-in-out;
}
@keyframes alert {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translate(0%);
  }
  80% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-100%);
  }
}
